<section class="mt-8 px-6">
  <ul class="grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-3 gap-6">
    {{#each productos}}
      <li class="bg-white p-4 shadow-md rounded-lg border border-gray-200">
        <h2 class="text-lg font-semibold">{{this.title}}</h2>
        <p class="text-gray-600 mt-2">${{this.price}} USD</p>
        <button class="mt-4 w-full bg-indigo-600 text-white px-4 py-2 rounded-md hover:bg-indigo-500">
          Comprar
        </button>
      </li>
    {{/each}}
  </ul>

  <div class="flex justify-between items-center mt-8">
    {{#if hasPrevPage}}
      <a href="?page={{prevPage}}" class="text-blue-600 hover:underline">Anterior</a>
    {{/if}}
    {{#if hasNextPage}}
      <a href="?page={{nextPage}}" class="text-blue-600 hover:underline">Siguiente</a>
    {{/if}}
  </div>

  <div class="flex justify-center items-center mt-4">
    <p class="text-gray-600">Página {{currentPage}} de {{totalPage}}</p>
  </div>
</section>
